html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}

h1 {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  border: 3px solid gray;
}

main {

}

.list-box {
  float: left;
}

li {
  padding: 8px 0;
}

.cat-box {
  width: 60%;
  margin: 36px auto 20px auto;
}

h3 {
  text-align: center;
}

.kitten {
  max-width: 100%;
  display: block;
  margin: auto;
}

.hidden {
  visibility: hidden;
}
